@font-face {
    font-family: 'Archivo-Bold';
    src: url('../fonts/Archivo-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Archivo-Regular';
    src: url('../fonts/Archivo-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'ArchivoNarrow-Regular';
    src: url('../fonts/ArchivoNarrow-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  :root {
    --color-background-gray:#F9F9F9;
    --color-magenta: #9E025B;
  }

* {
  line-height: 1.5;
}

/* 41.056px */
h1 {
  font-family: 'ArchivoNarrow-Regular', serif;
  font-size: 2.566rem;
}

/* 28.832px */
h2 {
  font-family: 'ArchivoNarrow-Regular';
  font-size: 1.802rem;
} 

/* 20px */
h3 {
  font-family: 'Archivo-Bold', serif;
  font-size: 1.25rem;
  color: var(--color-magenta);
}

/* 20px */
h4 {
  font-family: 'Archivo-Regular', serif;
  font-size: 1.25rem;
}

/* 16px */
h5 {
  font-family: 'Archivo-Bold', serif;
  font-size: 1rem;
  margin: 0;
}

/* 16px */
p {
  font-family: 'Archivo-Regular', serif;
  font-size: 1rem;
  margin: 0;
}

/* 30px padding, 1000px max-width */
body {
  margin: auto;
  padding: 0 1.875rem;
  max-width: 62.5rem;
  background-color: var(--color-background-gray);
}

/* 60px */
section {
  margin-bottom: 3.75rem;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color:var(--color-magenta);
}

/* 16px */
li {
  font-family: 'Archivo-Regular', serif;
  font-size: 1rem;
}

/* 16px */
ul {
  padding-left: 1rem;
}

.title__text {
  text-align: center;
}

.title__underline {
text-decoration: underline;
text-decoration-color: var(--color-magenta);
text-decoration-thickness: 0.25rem;
text-underline-offset: 0.5rem;
}

.reference__underline {
  text-decoration: underline;
  text-decoration-color: var(--color-magenta);
  text-decoration-thickness: 0.2rem;
  text-underline-offset: 0.4rem;
}

/* width: 300px; height: 525px; border: 2px; padding: 20px margin-right: 30px*/
.card {
  background-color: white;
  width: 18.75rem;
  height: 32.813rem;
  border: 0.125rem solid rgb(229, 229, 229);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.25rem;
  margin-right: 1.875rem;
}

/* height: 925px */
.card__new {
  height: 57.813rem;
}

.card__container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* critique note: center adidas images; made change with justify-content center */
.alpha__images-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* border: 2px; margin-right: 30px */
.alpha__images {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 0.125rem solid rgb(229, 229, 229);
  margin-right: 1.875rem;
}

@media screen and (max-width: 600px) {
  .card__container {
    width: 100%;
    display: block;
  }

  /* margin: 30px; height: 400px */
  .card {
    margin: 0 auto 1.875rem;
    height: 25rem;
  }

  /* max-width: 750px */
  .alpha__images-container {
    max-width: 46.875rem;
    margin: 0 auto;
  }

  .alpha__images {
    margin: 0 auto 30px;
  }
}

@media screen and (max-width: 1000px) {
  .card__container {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-between;
  }

  /* margin: 30px; height: 400px */
  .card {
    margin: 0 auto 1.875rem;
    height: 25rem;
  }

  /* height: 600px */
  .card__new {
    height: 37.5rem;
  }

  .alpha__images-container {
    margin: 0 auto;
  }

  /* margin: 30px */
  .alpha__images {
    margin: 0 auto 1.875rem;
  }
}